html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.contact-content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    color: #fff; 
    padding-top: 60px; 
}

.contact-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.contact-content h1 {
    margin-bottom: 1rem;
}

.contact-content p {
    margin-bottom: 2rem;
}
